﻿@model List<Tuple<string, string, string>>
@{
    Layout = "_PageA4Portrait";

    var company = (Company)ViewBag.Company;
    var year = (int)ViewBag.Year;

    var firstPageSize = 120;
    var otherPagesSize = 140;

    var firstPage = Model.Take(firstPageSize);
}

@section Head
{
    <style type="text/css">
        .twocol {
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
        }

            .twocol ol {
                margin: 0;
            }
    </style>
}

<div class="page">
    <div style="font-size: 1.2rem; margin-left: 60%;">
        "УТВЕРЖДАЮ" <br />
        @company.ManagerJobTitle @(company.NameShort ?? company.Name)<br /><br />
        _________________ @company.ManagerName<br /><br />
    </div>

    <h1>Список судейской коллегии на @year год</h1>

    <div class="twocol">
        <ol>
            @foreach (var item in firstPage)
            {
                <li>@item.Item1 @item.Item2 @item.Item3</li>
            }
        </ol>
    </div>
</div>

@{
    var counter = firstPageSize;
    while (Model.Count > counter)
    {
        var thisPage = Model.Skip(counter).Take(otherPagesSize);
        <div class="page">
            <div class="twocol">
                <ol>
                    @foreach (var item in thisPage)
                    {
                        counter++;
                        <li value="@counter">@item.Item1 @item.Item2 @item.Item3</li>
                    }
                </ol>
            </div>
        </div>
    }
}