﻿@model List<Tuple<Company, List<Tuple<int, int>>>>
@{
    ViewBag.Title = "Списки судей";
    ViewBag.Subtitle = "по организациям и годам";
}

<p>Ниже показаны все доступные вам организации, на которые имеются отчетные документы, с группировкой по годам. Выберите организацию и год, для которых вам необходимо сформировать список судей.</p>

@foreach (var tupleA in Model)
{
    <h3>@tupleA.Item1.Name</h3>
    <ul>
        @foreach (var tupleB in tupleA.Item2)
        {
            <li><a href="@Url.Action(ReportsController.PersonListRoute(tupleA.Item1.Id, tupleB.Item1))">@tupleB.Item1 год</a> (@tupleB.Item2 соревнований)</li>
        }
    </ul>
}
