@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mcl6qj');
  src:  url('fonts/icomoon.eot?mcl6qj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mcl6qj') format('truetype'),
    url('fonts/icomoon.woff?mcl6qj') format('woff'),
    url('fonts/icomoon.svg?mcl6qj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-print:before {
  content: "\f02f";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-plus:before {
  content: "\f067";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-file:before {
  content: "\f15b";
}
.icon-file-text:before {
  content: "\f15c";
}

