﻿@model List<Person>
@{
    ViewBag.Title = Model[0]?.FamilyName;
    ViewBag.Subtitle = PersonsController.Title;
    ViewBag.SubtitleLink = Url.Action(PersonsController.IndexRoute());
    ViewBag.ContainerFluid = true;

    using (Bootstrap.BeginTable(TableStyles.Small | TableStyles.Striped))
    {
        @Bootstrap.TableRow().HeaderCells("Имя", "Д.рожд.", "Адрес, Документ", "Телефон", "ИНН, ПСС, МедСтрах", string.Empty)
        foreach (var item in Model)
        {
            using (var row = Bootstrap.TableRow().CssClass(item.ReplacedByPersonId == null ? string.Empty : "text-muted").BeginContent())
            {
                @row.Cell(item.FamilyName, " ", item.FirstName, Html.Raw("<br/>"), item.MiddleName)
                @row.Cell(item.GetBirthDate())
                @row.Cell(item.AddressIndex, ", ", item.Address, Html.Raw("<br/>"), item.DocumentNum, " от ", item.DocumentDate?.ToString("d"), " ", item.DocumentIssuedBy).CssClass("small")
                @row.Cell(item.Phone)
                @row.Cell(item.TaxNumber, Html.Raw("<br/>"), item.PensionNumber, Html.Raw("<br/>"), item.InsuranceNumber)
                using (row.BeginCell())
                {
                    <span class="small">@item.CreatedAt</span>
                    <br/>
                    if (item.ReplacedByPersonId == null)
                    {
                        @Bootstrap.Anchor("Удалить").Href(PersonsController.DeleteRoute(item.Id))
                    }
                    else
                    {
                        @Bootstrap.Anchor("Восстановить").Href(PersonsController.UndeleteRoute(item.Id))
                    }
                }
            }
        }
    }
}
