﻿@model List<Tuple<string, string>>
@using System.Reflection;
@{ 
    Layout = null;

    var ass = typeof(HomeController).GetTypeInfo().Assembly;

    var ver = "v" + ass.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
    var title = ass.GetCustomAttribute<AssemblyTitleAttribute>().Title;
}
<html>
<body>
    <h1>@title @ver</h1>
    @if (Model != null)
    {
        foreach (var pair in Model)
        {
            <p>@pair.Item1: @pair.Item2</p>
        }
    }
</body>
</html>