﻿@model List<string>
@using System.Reflection;
@{
    var ass = typeof(HomeController).GetTypeInfo().Assembly;

    var ver = "v" + ass.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
    var title = ass.GetCustomAttribute<AssemblyTitleAttribute>().Title;

    List<string> log = ViewBag.Logs;
    ViewBag.ContainerFluid = true;
}

<h2>Логи <small>@title @ver</small></h2>

@using (var table = Bootstrap.Table(TableStyles.Small | TableStyles.Hover).Attribute("style", "font-size: 85%").BeginContent())
{
    foreach (var item in Model)
    {
        @table.Row().Cells(item)
    }
}
