﻿@model Tournament
@{
    ViewBag.Title = TournamentsController.Title;
    ViewBag.Subtitle = "Изменение";

    var companies = (List<Company>)ViewBag.Companies;
    var documentSets = (List<DocumentSet>)ViewBag.DocumentSets;

    using (Bootstrap.BeginForm(FormType.Horizontal))
    {
        @Html.AntiForgeryToken()

        @Bootstrap.ValidationSummary();

        @Html.HiddenFor(x => x.Id)

        @Bootstrap.FormGroupFor(x => x.Name).Label("Наименование").Control(Bootstrap.Input())

        @Bootstrap.FormGroupFor(x => x.TitleInstrumentalCase).Label("Наименование в родительном падеже (для договоров)").Control(Bootstrap.Input().Placeholder("чемпионата России по ..."))

        @Bootstrap.FormGroupFor(x => x.StartDate).Label("Дата начала").Control(Bootstrap.InputDate().CssClass("datepicker"))

        @Bootstrap.FormGroupFor(x => x.EndDate).Label("Дата окончания").Control(Bootstrap.InputDate().CssClass("datepicker"))

        @Bootstrap.FormGroupFor(x => x.WorkingDaysCount).Label("Кол-во рабочих дней").Control(Bootstrap.InputInt().Attribute("min", "0"))

        @Bootstrap.FormGroupFor(x => x.PayTotal).Label("Начислено (всего)").Control(Bootstrap.Input().Attribute("min", "0"))

        @Bootstrap.FormGroupFor(x => x.Taxes).Label("Налоги (всего)").Control(Bootstrap.Input().Attribute("min", "0"))

        @Bootstrap.FormGroupFor(x => x.HandOut).Label("К выдаче (всего)").Control(Bootstrap.Input().Attribute("min", "0"))

        @Bootstrap.FormGroupFor(x => x.AgreementDate).Label("Дата подписания договоров").Control(Bootstrap.InputDate().CssClass("datepicker")).Content(Bootstrap.Tag("small").CssClass("text-muted").Content("Это дату можно переопределить на уровне отдельных Должностей."))

        @Bootstrap.FormGroupFor(x => x.CompanyId).Label("Организация").Control(Bootstrap.Select(companies, x => x.Id, x => x.Name))

        @Bootstrap.FormGroupFor(x => x.DocumentSetId).Label("Набор отчетных документов").Control(Bootstrap.Select(documentSets, x => x.Id, x => x.Name))

        using (Bootstrap.BeginFormGroup())
        {
            @Bootstrap.Button(Color8.PrimaryBlue, "Добавить").Size(ControlSize.Large)
            @Bootstrap.Button(Color8.SecondaryGrey, "Отмена").Outline().Href(Url.Action(TournamentsController.IndexRoute()))
        }
    }
}

@section Scripts {
    <script type="text/javascript">
        var app = new Matreshka();
        app.bindNode('payTotal', '#PayTotal', MK.binders.moneyBinder());
        app.bindNode('taxes', '#Taxes', MK.binders.moneyBinder());
        app.bindNode('handOut', '#HandOut', MK.binders.moneyBinder());
        app.on("change:payTotal", () => { app.handOut = app.payTotal - app.taxes; });
        app.on("change:taxes", () => { app.handOut = app.payTotal - app.taxes; });
    </script>
}