﻿@model TournamentDetailsViewModel
@{
    ViewBag.Title = Model.Tournament.Name;
    ViewBag.ContainerFluid = true;

    var tournament = Model.Tournament;

    var dlLeft = new GridSize(6, 6, 6, 6, 6);
    var dlRigth = dlLeft.Invert();

    var moneyPayTotalOk = Model.Tournament.PayTotal == Model.JobInfoes.Sum(x => x.PersonsCount * x.PayTotal);
    var moneyTaxesOk = Model.Tournament.Taxes == Model.JobInfoes.Sum(x => x.PersonsCount * x.Taxes);
    var moneyHandOutOk = Model.Tournament.HandOut == Model.JobInfoes.Sum(x => x.PersonsCount * x.HandOut);

    var data = new string[][]
    {
new[] { "Наименование" , tournament.Name },
new[] { "Наименование в родительном падеже (для договоров)", tournament.TitleInstrumentalCase },
new[] { "Сроки проведения", tournament.StartDate.ToString("d") + " - " + tournament.EndDate.ToString("d") },
new[] { "Количество рабочих дней", tournament.WorkingDaysCount.ToString() },
new[] { "Отчитывающаяся организация", tournament.Company.Name },
new[] { "Комплект документов", tournament.DocumentSet.Name },
new[] { "Дата подписания договоров", tournament.AgreementDate?.ToString("d") },
                                            };

}

@using (Bootstrap.BeginGridRow())
{
    using (Bootstrap.BeginGridCol(12, 12, 5, 5, 5))
    {
        @Bootstrap.H4("Общая информация")

        using (Bootstrap.BeginButtonGroup(ControlSize.Small))
        {
            @Bootstrap.Button(Color8.WarningOrange, IconFont.Edit, "Изменить").Href(TournamentsController.EditRoute(tournament.Id)).Outline()
            @Bootstrap.Button(Color8.DangerRed, IconFont.Remove, "Удалить соревнование").Href(TournamentsController.DeleteRoute(tournament.Id)).Outline()
        }

        <dl>
            @foreach (var pair in data)
            {
                <dt class="small">@pair[0]:</dt>
                <dd style="font-weight: bold; line-height: 1;" class="pl-4">@(string.IsNullOrEmpty(pair[1]) ? (object)Bootstrap.Span("-не заполнено-").TextColor(Color9.DangerRed) : pair[1])</dd>
            }
            <dt class="small">Деньги: начислено:</dt>
            <dd style="font-weight: bold; line-height: 1;" class="pl-4">
                @tournament.PayTotal.ToString("0.00")
                @(moneyPayTotalOk ? null : Bootstrap.Span(IconFont.ExclamationTriangle).TextColor(Color9.DangerRed).Attribute("title", "Не совпадает с суммой оплаты по должностям"))
            </dd>
            <dt class="small">Деньги: удержание/налоги:</dt>
            <dd style="font-weight: bold; line-height: 1;" class="pl-4">
                @tournament.Taxes.ToString("0.00")
                @(moneyTaxesOk ? null : Bootstrap.Span(IconFont.ExclamationTriangle).TextColor(Color9.DangerRed).Attribute("title", "Не совпадает с суммой налогов по должностям"))
            </dd>
            <dt class="small">Деньги: к выплате:</dt>
            <dd style="font-weight: bold; line-height: 1;" class="pl-4">
                @tournament.HandOut.ToString("0.00")
                @(moneyHandOutOk ? null : Bootstrap.Span(IconFont.ExclamationTriangle).TextColor(Color9.DangerRed).Attribute("title", "Не совпадает с суммой к оплате по всем должностям"))
            </dd>
        </dl>
    }


    @using (Bootstrap.BeginGridCol(8, 8, 7, 7, 7))
    {
        @Bootstrap.H4("Ведомости")

        using (Bootstrap.BeginButtonGroup(ControlSize.Small))
        {
            @Bootstrap.Button(Color8.PrimaryBlue, IconFont.Add, "Добавить ведомость").Href(PayrollsController.CreateRoute(tournament.Id)).Outline()
        }

        using (var tbl = Bootstrap.Table(TableStyles.Hover | TableStyles.Small).Responsive(TableResponsive.md).BeginContent())
        {
            using (tbl.BeginFooter())
            {
                using (tbl.BeginRow())
                {
                    using (tbl.TD().ColSpan(2).BeginContent())
                    {
                        using (Bootstrap.ButtonToolbar().CssClass("justify-content-end").BeginContent())
                        {
                            using (Bootstrap.BeginButtonGroup(ControlSize.Small))
                            {
                                @Bootstrap.Button(Color8.PrimaryBlue, IconFont.List, "Все судьи").Href(PayrollContentsController.IndexRoute(tournament.Id))
                            }

                            using (Bootstrap.BeginButtonGroup(ControlSize.Small))
                            {
                                if (!string.IsNullOrEmpty(tournament.DocumentSet.RegisterTemplate))
                                {
                                    @Bootstrap.Button(Color8.PrimaryBlue, IconFont.Print, "Все ведомости").Href(PayrollsController.PrintAllRoute(tournament.Id, tournament.DocumentSet.RegisterTemplate)).Outline()
                                }

                                if (!string.IsNullOrEmpty(tournament.DocumentSet.ContractTemplate))
                                {
                                    @Bootstrap.Button(Color8.PrimaryBlue, IconFont.Print, "Все договоры").Href(PayrollsController.PrintAllRoute(tournament.Id, tournament.DocumentSet.ContractTemplate)).Outline()
                                }

                                if (!string.IsNullOrEmpty(tournament.DocumentSet.TimesheetTemplate))
                                {
                                    @Bootstrap.Button(Color8.PrimaryBlue, IconFont.Print, "Все табели").Href(PayrollsController.PrintAllRoute(tournament.Id, tournament.DocumentSet.TimesheetTemplate)).Outline()
                                }
                            }
                        }
                    }
                }
            }


            using (tbl.BeginBody())
            {
                foreach (var item in Model.Payrolls)
                {
                    using (var row = tbl.BeginRow())
                    {
                        using (row.BeginCell())
                        {
                            @item.Name
                            @Bootstrap.Badge(Color8.SuccessGreen, item.Count).Attribute("title", "Введено судей: " + item.Count)
                            @(item.IsDummy ? Bootstrap.Badge(Color8.SecondaryGrey, "Не печатать").Pill() : null)

                            @Html.Raw("<br/>")
                            using (Bootstrap.Tag("small").BeginContent())
                            {
                                @Bootstrap.Anchor(IconFont.Edit, "Изменить").Href(PayrollsController.EditRoute(item.Id)).TextColor(Color9.WarningOrange).WithWhitespaceSuffix()
                                @Bootstrap.Anchor(IconFont.Remove, "Удалить").Href(PayrollsController.DeleteRoute(item.Id)).TextColor(Color9.DangerRed)
                            }
                        }

                        using (row.BeginCell())
                        {
                            using (Bootstrap.ButtonToolbar().CssClass("justify-content-end").BeginContent())
                            {
                                using (Bootstrap.BeginButtonGroup(ControlSize.Small))
                                {
                                    @Bootstrap.Button(Color8.PrimaryBlue, IconFont.List, "Судьи").Href(PayrollContentsController.IndexRoute(tournament.Id, item.Id))
                                }

                                using (Bootstrap.BeginButtonGroup(ControlSize.Small))
                                {
                                    if (!string.IsNullOrEmpty(tournament.DocumentSet.RegisterTemplate))
                                    {
                                        @Bootstrap.Button(Color8.PrimaryBlue, IconFont.Print, "Ведомость").Href(PayrollsController.PrintRoute(item.Id, tournament.DocumentSet.RegisterTemplate)).Outline()
                                    }

                                    if (!string.IsNullOrEmpty(tournament.DocumentSet.ContractTemplate))
                                    {
                                        @Bootstrap.Button(Color8.PrimaryBlue, IconFont.Print, "Договоры").Href(PayrollsController.PrintRoute(item.Id, tournament.DocumentSet.ContractTemplate)).Outline()
                                    }

                                    if (!string.IsNullOrEmpty(tournament.DocumentSet.TimesheetTemplate))
                                    {
                                        @Bootstrap.Button(Color8.PrimaryBlue, IconFont.Print, "Табель").Href(PayrollsController.PrintRoute(item.Id, tournament.DocumentSet.TimesheetTemplate)).Outline()
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@Bootstrap.H4("Должности")
@using (var tbl = Bootstrap.Table(TableStyles.Hover | TableStyles.Small).Responsive(TableResponsive.md).BeginContent())
{
    using (tbl.BeginHeader())
    {
        using (tbl.BeginRow())
        {
            @tbl.TH("Должность")
            @tbl.TH("Период")
            @tbl.TH("Кол-во")
            @tbl.TH("Дата дог.")
            @tbl.TH("Оплата")
            @tbl.TH("Итого")

            @tbl.TH(Bootstrap.Button(Color8.PrimaryBlue, IconFont.Add, "Добавить должность").Href(Url.Action(TournamentJobInfosController.CreateRoute(tournament.Id))).Size(ControlSize.Small).Outline())
        }
    }
    using (tbl.BeginFooter())
    {
        using (tbl.BeginRow())
        {
            @tbl.TH()
            @tbl.TH()
            @tbl.TH()
            @tbl.TH()
            @tbl.TH()
            @tbl.TH(
                moneyHandOutOk ? null : Bootstrap.Span(IconFont.ExclamationTriangle).TextColor(Color9.DangerRed).Attribute("title", "Не совпадает с суммой к оплате в информации о соревновании").WithWhitespaceSuffix(),
                Model.JobInfoes.Sum(x => x.PersonsCount * x.HandOut))
            @tbl.TH()
        }
    }
    using (tbl.BeginBody())
    {
        foreach (var item in Model.JobInfoes)
        {
            using (tbl.BeginRow())
            {
                @tbl.TD(item.JobTitle.Name)
                @tbl.TD(item.StartDate.ToString("d"), " - ", item.EndDate.ToString("d"))
                @tbl.TD(item.PersonsCount)
                @tbl.TD(item.AgreementDate?.ToString("d"))
                @tbl.TD(item.DaysCount, " x ", item.PayPerDay, " - ", item.Taxes, " = ", item.HandOut)
                @tbl.TD(Bootstrap.Tag("b").Content(item.PersonsCount * item.HandOut))
                @tbl.TD(
                         Bootstrap.ButtonGroup(ControlSize.Small)
                             .AddButton(Bootstrap.Button(Color8.WarningOrange, IconFont.Edit, "Изменить").Href(Url.Action(TournamentJobInfosController.EditRoute(item.Id))).Outline())
                             .AddButton(Bootstrap.Button(Color8.DangerRed, IconFont.Remove, "Удалить").Href(Url.Action(TournamentJobInfosController.DeleteRoute(item.Id))).Outline()))
            }
        }
    }
}
