﻿@model TournamentJobInfo
@{
    ViewBag.Title = TournamentJobInfosController.Title;
    ViewBag.Subtitle = "Добавление";

    var jobTitles = (List<JobTitle>)ViewBag.JobTitles;

    using (Bootstrap.BeginForm(FormType.Horizontal))
    {
        @Html.AntiForgeryToken()

        @Bootstrap.ValidationSummary();

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TournamentId)

        @Bootstrap.FormGroupFor(x => x.JobTitleId).Label("Должность").Control(Bootstrap.Select(jobTitles, x => x.Id, x => x.Name))

        @Bootstrap.FormGroupFor(x => x.PersonsCount).Label("Кол-во человек").Control(Bootstrap.InputInt().Attribute("min", "0"))

        @Bootstrap.FormGroupFor(x => x.StartDate).Label("Дата начала").Control(Bootstrap.InputDate().CssClass("datepicker"))

        @Bootstrap.FormGroupFor(x => x.EndDate).Label("Дата окончания").Control(Bootstrap.InputDate().CssClass("datepicker"))

        @Bootstrap.FormGroupFor(x => x.DaysCount).Label("Кол-во дней").Control(Bootstrap.InputInt().Attribute("min", "0"))

        @Bootstrap.FormGroupFor(x => x.PayPerDay).Label("Оплата в день").Control(Bootstrap.Input().Attribute("min", "0").Size(0, 6, 5, 4, 3))

        @Bootstrap.FormGroupFor(x => x.PayTotal).Label("Оплата в сумме").Control(Bootstrap.Input().Attribute("min", "0").Size(0, 6, 5, 4, 3))

        @Bootstrap.FormGroupFor(x => x.Taxes).Label("Налоги").Control(Bootstrap.Input().Attribute("min", "0").Size(0, 6, 5, 4, 3))

        @Bootstrap.FormGroupFor(x => x.HandOut).Label("К выдаче").Control(Bootstrap.Input().Attribute("min", "0").Size(0, 6, 5, 4, 3))

        @Bootstrap.FormGroupFor(x => x.AgreementDate).Label("Дата подписания договоров").Control(Bootstrap.InputDate().CssClass("datepicker")).Content(Bootstrap.Tag("small").CssClass("text-muted").Content("Переопределяет дату подписания, установленную на уровне соревнования."))

        using (Bootstrap.BeginFormGroup())
        {
            @Bootstrap.Button(Color8.PrimaryBlue, "Добавить").Size(ControlSize.Large)
            @Bootstrap.Button(Color8.SecondaryGrey, "Отмена").Outline().Href(Url.Action(TournamentsController.DetailsRoute(Model.TournamentId)))
        }
    }
}

@section Scripts {
    <script type="text/javascript">
        var app = new Matreshka();
        app.bindNode('daysCount', '#DaysCount');
        app.bindNode('payPerDay', '#PayPerDay', MK.binders.moneyBinder());
        app.bindNode('payTotal', '#PayTotal', MK.binders.moneyBinder());
        app.bindNode('taxes', '#Taxes', MK.binders.moneyBinder());
        app.bindNode('handOut', '#HandOut', MK.binders.moneyBinder());
        app.on("change:daysCount", () => { app.payTotal = app.daysCount * app.payPerDay; });
        app.on("change:payPerDay", () => { app.payTotal = app.daysCount * app.payPerDay; });
        app.on("change:payTotal", () => { app.handOut = app.payTotal - app.taxes; });
        app.on("change:taxes", () => { app.handOut = app.payTotal - app.taxes; });
    </script>
}