﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

<div class="row main-content">
    <div class="col-sm-9 col-sm-push-3">
        <h2>Пожалуйста, представьтесь</h2>
        <br/>
        @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (Microsoft.AspNetCore.Authentication.AuthenticationScheme p in ViewBag.LoginProviders)
                    {
                        <button type="submit" class="btn btn-lg btn-primary" id="@p.Name" name="provider" value="@p.Name" title="Войти, используя аккаунт в @p.DisplayName">Войти через @p.Name</button>
                    }
                </p>
            </div>
        }
    </div>
</div>