﻿@model PayrollContent
<div class="page">
    <h1>ДОГОВОР <br />об оказании услуг судейства № _______ </h1>
    <table>
        <tr>
            <td width="50%">г.Москва</td>
            <td width="50%" style="text-align: right">«____» ___________20____ года</td>
        </tr>
    </table>

    <p>
        @Model.Payroll.Tournament.Company.NameInDocument, именуемая в дальнейшем «Федерация» и гражданин(ка) Российской Федерации
        <span class="own-line">@Model.Person.FamilyName @Model.Person.FirstName @Model.Person.MiddleName</span>
        именуемый(ая), в дальнейшем «Судья», а вместе именуемые «Стороны», заключили настоящий Договор о нижеследующем:
    </p>

    <h2>1. Предмет договора</h2>
    <p>1.1. Судья обязуется оказать услуги судейства на спортивных соревнованиях, проводимых Федерацией.</p>

    <h2>2. Права и обязанности Сторон</h2>
    <p><strong>2.1 Обязанности Судьи:</strong></p>
    <p>2.1.1 Своевременно и качественно осуществлять судейство на безвозмездной основе в соответствии с условиями настоящего Договора и требованиями законодательства РФ в период, действия настоящего Договора.</p>
    <p>2.1.2 Соблюдать требования Положения о спортивных судьях, введенного в действие 27 ноября 2008 г. приказом №56 Министерства спорта, туризма и молодежной политики Российской Федерации.</p>
    <p>2.1.3 Представить Федерации все необходимые документы, подтверждающие квалификацию судьи, а также иные документы, необходимые для соблюдения требований действующего законодательства РФ.</p>
    <p><strong>2.2.Обязанности Федерации:</strong></p>
    <p>2.2.1 Федерация обязуется обеспечить питание Судьи в период проведения Соревнований.</p>
    <p>2.2.2 Федерация обязуется обеспечить Судью спортивным инвентарем и иными вспомогательными средствами, необходимыми для исполнения Судьей своих обязанностей, предусмотренных настоящим договором.</p>
    <p>2.2.3 Федерация обеспечивает представление Судьи на присвоение судейской категории в Департамент физической культуры и спорта города Москвы.</p>
    <p><strong>2.3 Права Федерации:</strong></p>
    <p>3.2.1 Федерация вправе проводить контроль качества и объема услуг.</p>

    <h2>3. Ответственность сторон</h2>
    <p>3.1. Судья несет ответственность за качественное судейство в соответствии с действующим законодательством РФ.    </p>
    <p>3.2. Судья несет полную материальную ответственность за переданный ему в ходе оказания услуг судейства инвентарь.</p>
    <p>3.3. Стороны несут ответственность за своевременность исполнения своих обязательств по Договору в соответствии с действующим законодательством РФ.</p>

    <h2>4. Срок действия Договора</h2>
    <p>4.1 Настоящий Договор вступает в силу с момента подписания  и действует по <strong>@Model.TournamentJobInfo.EndDate.ToString("d MMMM yyyy") года.</strong>
    </p>

    <h2>5. Дополнительные условия</h2>
    <p>5.1. Права и обязанности Сторон, прямо не предусмотренные в настоящем Договоре, определяются в соответствии с Гражданским Кодексом Российской Федерации.</p>
    <p>5.2. После подписания настоящего Договора все предварительные соглашения по вопросам, так или иначе касающимся настоящего Договора, теряют юридическую силу.</p>
    <p>5.3. Настоящий Договор оформлен в двух экземплярах (по одному для каждой из Сторон), каждый из которых имеет одинаковую юридическую силу.</p>

    <h2>6. Реквизиты и подписи Сторон</h2>
    <table>
        <tr>
            <td width="50%" class="right-border">
                <p><strong>Федерация: <br /> @Model.Payroll.Tournament.Company.NameFull</strong></p>
            </td>
            <td width="50%">
                <p><strong>Судья: <br /> @Model.Person.FamilyName @Model.Person.FirstName @Model.Person.MiddleName</strong></p>
            </td>
        </tr>
        <tr>
            <td class="right-border">
                <p>Адрес: <br /> @Model.Payroll.Tournament.Company.Address</p>
            </td>
            <td>
                <p>Адрес: <br /> @Model.Person.AddressIndex @Model.Person.Address</p>
            </td>
        </tr>
        <tr>
            <td class="right-border">
                <p class="pre">@Model.Payroll.Tournament.Company.TaxNumber</p>
            </td>
            <td>
                <p>Паспорт: <br /> @Model.Person.DocumentNum выдан @Model.Person.DocumentDate?.ToString("d") <br /> @Model.Person.DocumentIssuedBy</p>
                @*<p>Дата рождения: @Model.Person.GetBirthDate()</p>*@
            </td>
        </tr>
        <tr>
            <td class="right-border">
                <p>@Model.Payroll.Tournament.Company.ManagerJobTitle: <br /><br /> ___________________________ /@Model.Payroll.Tournament.Company.ManagerName/</p>
            </td>
            <td>
                <p><br /><br /> ___________________________________</p>
            </td>
        </tr>
    </table>
</div>