﻿@model PayrollContent
@{
    var signDate = Model.TournamentJobInfo.AgreementDate ?? Model.Payroll.Tournament.AgreementDate;
    var signDateText = signDate == null ? string.Empty : "от " + signDate.Value.ToString("d");
}
<div class="page">
    <h1>ДОГОВОР № ___ @signDateText <br /> на безвоздмездное оказание услуг</h1>
    <p>г.Москва</p>

    <p>
        @Model.Payroll.Tournament.Company.NameInDocument, именуемая в дальнейшем "Заказчик", с одной стороны и
        <span class="own-line">@Model.Person.FamilyName @Model.Person.FirstName @Model.Person.MiddleName</span>
        именуемый(ая) в дальнейшем "Исполнитель", с другой стороны, заключили договор о нижеследующем:
    </p>

    <h2>1. Предмет договора</h2>
    <p>
        1.1 Исполнитель обязуется безвозмедно оказывать Заказчику предусмотренные настоящем договором услуги в качестве:
        <span class="own-line">@Model.TournamentJobInfo.JobTitle.NamePublic</span>
        <span class="own-line">@Model.Payroll.Tournament.TitleInstrumentalCase</span>
        в порядке и на условиях, установленных настоящим договором, а Заказчик обязуется возместить Исполнителю расходы на
        питание в дни проведения соревнований в размере, указанном в договоре.
    </p>
    <p>
        1.2. Выполнение Исполнителем обязательств по настоящему Договору регулируется, помимо настоящего Договора, также
        нормативными актами, методическими рекомендациями и указаниями Заказчика, связанными с выполнением настоящего
        Договора.
    </p>
    <p>
        1.3. Исполнитель оказывает усллуги, предусмотренные пунктом 1.1. настоящего Договора, в период <span class="own-line"> с &nbsp; @Model.TournamentJobInfo.StartDate.ToString("d MMMM yyyy") &nbsp; по &nbsp; @Model.TournamentJobInfo.EndDate.ToString("d MMMM yyyy").</span>
    </p>

    <h2>2. Обязанности сторон</h2>
    <p>2.1. Исполнитель обязуется:</p>
    <p>
        2.1.1. Осуществлять окузание услуг по судейству соревнований, указанных в разделе 1.1. настоящего Договора в сторгом
        соответствии с правилами соревнований по данному виду спорта.
    </p>
    <p>
        2.1.2. Осуществлять услуги по судейству по настоящему Договору безвозмедно как для Заказчика, так и для спортсменов,
        участвующих в данных соревнованиях.
    </p>
    <p>
        2.1.3. В процессе оказания услуг по судейству по настоящему Договору составлять и вести всю необходимую учетную
        документацию (заявки, протоколы соревнований) и предоставлять ее Заказчику.
    </p>
    <p>2.2. Заказчик обязан:</p>
    <p>
        2.2.1. До начала исполнения настоящего Договора обеспечить Исполнителя всеми методическими и другими материалами,
        необходимыми для оказания услуг по настоящему Договору.
    </p>
    <p>
        2.2.2. Возместить Исполнителю расходы на питание в дни проведения соревнований в размере <span class="own-line">
            @Model.TournamentJobInfo.DaysCount дней х @Model.TournamentJobInfo.PayPerDay руб. = @Model.TournamentJobInfo.HandOut руб.
        </span>
    </p>

    <h2>3. Ответственность сторон</h2>
    <p>
        3.1. За неисполнение или ненадлежащее исполнение обязанностей по настоящему Договору стороны несут
        ответственность в соответствии с действующим законодательством.
    </p>

    <h2>4. Прочие условия</h2>
    <p>4.1. Настоящий договор вступает в силу с момента его подписания сторонами.</p>
    <p>
        4.2. Настоящий договор вступает в силу с момента его подписания и действует до окончательного выполнения Сторонами
        своих обязательств.
    </p>
    <p>4.3. Договор составлен в двух экземплярах (по одному для каждой из сторон), имеющих одинаковую юридическую силу.</p>

    <h2>5. Адреса, реквизиты и подписи сторон</h2>
    <table>
        <tr>
            <td width="53%">
                <p><strong>Заказчик: <br /> @Model.Payroll.Tournament.Company.NameFull</strong></p>
            </td>
            <td width="47%">
                <p><strong>Исполнитель: <br /> @Model.Person.FamilyName @Model.Person.FirstName @Model.Person.MiddleName</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Адрес: <br /> @Model.Payroll.Tournament.Company.Address</p>
            </td>
            <td>
                <p>Адрес: <br /> @Model.Person.AddressIndex @Model.Person.Address</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="pre">@Model.Payroll.Tournament.Company.BankInfo <br/>@Model.Payroll.Tournament.Company.TaxNumber</p>
            </td>
            <td>
                <p>Паспорт: <br /> @Model.Person.DocumentNum выдан @Model.Person.DocumentDate?.ToString("d") <br /> @Model.Person.DocumentIssuedBy</p>
                <p>Дата рождения: @Model.Person.GetBirthDate()</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Телефон: @Model.Payroll.Tournament.Company.Phone</p>
            </td>
            <td>
                <p>Телефон: @Model.Person.Phone</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>@Model.Payroll.Tournament.Company.ManagerJobTitle: <br /><br /> ___________________________ @Model.Payroll.Tournament.Company.ManagerName</p>
            </td>
            <td>
                <p>Подпись исполнителя: <br /><br /> ___________________________________</p>
            </td>
        </tr>
    </table>
</div>