﻿@model List<IGrouping<Guid, PayrollContent>>
@{
    Layout = null;

    var tournament = (Tournament)ViewBag.Tournament;
    var signatures = (List<PayrollContent>)ViewBag.Signatures;
}
<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css" media="all">
        @@page {
            size: A4 landscape;
            margin: 8mm 5mm;
        }

        @@media print {
            .noprint {
                display: none;
            }
        }

        html {
            margin: 0;
            padding: 0;
            width: 280mm;
            font-family: Arial, sans-serif;
            font-size: 8pt;
            box-sizing: border-box;
        }

        body {
            padding: 0;
            margin: 0;
            width: 280mm;
        }

        @@media screen {
            html {
                width: 290mm;
                margin-left: 5mm;
                background-color: lightgray;
            }

            body {
                width: 290mm;
            }

            .page {
                padding: 5mm;
                margin-top: 5mm;
                margin-bottom: 5mm;
                background-color: white;
            }

            table {
                margin-bottom: 5ex;
            }
        }

        .alert-info {
            background-color: yellow;
            font-size: 1.5rem;
            text-align: center;
            padding: 1ex;
            margin-bottom: 2rem;
        }
        
        h1 {
            white-space: pre;
            text-align: center;
            font-size: 1.3rem;
            margin-top: 0;
        }
        
        .page {
            page-break-after: always
        }

        .page:last-child
        {
            page-break-after: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tbody tr {
            height: 2.7rem;
        }

        td, th {
            border: thin solid #a0a0A0;
            padding: 0 0.5ex;
        }

        th {
            font-size: 0.8rem;
        }

        td {
            text-align: center;
        }
        td + td {
            text-align: left;
        }
        td + td + td {
            text-align: center;
        }
        td + td + td + td + td + td {
            text-align: left;
        }
        td + td + td + td + td + td + td + td {
            text-align: right;
        }

        tfoot td {
            border-style: none;
            text-align: left;
        }

        .bold {
            font-weight: bold;
        }

        .c {
            text-align: center;
        }
        .r {
            text-align: right;
        }

        .last {
            padding-left: 3ex;
            padding-right: 3ex;
            box-sizing: border-box;
        }

        .signature {
            float: left;
            text-align: left;
            width: 50%;
            padding-left: 3ex;
            padding-right: 3ex;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="noprint alert-info">
        При печати задайте альбомную (landscape) ориентацию страницы, после этого всё должно отлично уместиться на лист. <br/>Данная надпись магическим образом исчезнет.
    </div>
    @foreach (var pair in Model)
    {
        var payroll = pair.First(); // получается сраз улучше ; //.Payroll;
        <div class="page">
        <h1>@payroll.Payroll.Title</h1>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Фамилия, Имя, Отч.</th>
                    <th style="width: 19ex;">Страх. номер</th>
                    <th style="width: 12ex;">Дата рожд.</th>
                    <th style="width: 10ex;">Паспорт</th>
                    <th>Адрес</th>
                    <th>Должность</th>
                    <th style="width: 18ex;">Начислено</th>
                    <th style="width: 10ex;">Удержано</th>
                    <th style="width: 14ex;">К выдаче</th>
                    <th style="width: 18ex;">Роспись</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                    var total = 0M;
                    foreach (var item in pair)
                    {
                        count++;
                        total += item.TournamentJobInfo.PayTotal;
                        <tr>
                            <td>@count</td>
                            <td>@item.Person.FamilyName @item.Person.FirstName @item.Person.MiddleName</td>
                            <td>@item.Person.PensionNumber</td>
                            <td>@string.Format("{0:00}.{1:00}.{2:0000}", item.Person.BirthDay ?? 0, item.Person.BirthMonth ?? 0, item.Person.BirthYear ?? 0)</td>
                            <td>@item.Person.DocumentNum</td>
                            <td>@item.Person.AddressIndex @item.Person.Address</td>
                            <td>@item.TournamentJobInfo.JobTitle.NamePublic</td>
                            <td>@string.Format("{0} x {1:c} =", item.TournamentJobInfo.DaysCount, item.TournamentJobInfo.PayPerDay) <br/> @string.Format("{0:c}", item.TournamentJobInfo.PayPerDay * item.TournamentJobInfo.DaysCount)</td>
                            <td>@item.TournamentJobInfo.Taxes.ToString("c")</td>
                            <td>@item.TournamentJobInfo.PayTotal.ToString("c")</td>
                            <td>&nbsp;</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">&nbsp;</td>
                    <td colspan="4" class="bold r"><br/><br/>ИТОГО: &nbsp; @total.ToString("c")</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6">
                        @if (signatures != null)
                        {
                            foreach (var item in signatures)
                            {
                                <div class="signature">
                                    <span style="float:right">@("(" + item.Person.FamilyName + " " + item.Person.FirstName.Substring(0, 1) + ". " + item.Person.MiddleName.Substring(0, 1) + ".)")</span>
                                    @item.TournamentJobInfo.JobTitle.Name <br/>
                                </div>
                            }
                        }
                    </td>
                    <td colspan="5" class="bold c">(@total.ToRubles())</td>
                </tr>
                <tr>
                    <td colspan="6" class="last"><br/>Проведение соревнований и правильность оплаты судей подтверждаю: _______________ ( _______________ )</td>
                    <td colspan="6" class="bold">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
        </div>
    }
</body>
</html>
