﻿@model List<IGrouping<Guid, PayrollContent>>
@{
    Layout = null;

    var tournament = (Tournament)ViewBag.Tournament;
    var signatures = (List<PayrollContent>)ViewBag.Signatures;
}
<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css" media="all">
        @@page {
            size: A4 landscape;
            margin: 8mm 5mm;
        }

        @@media print {
            .noprint {
                display: none;
            }
        }

        html {
            margin: 0;
            padding: 0;
            width: 280mm;
            font-family: Arial, sans-serif;
            font-size: 8pt;
            box-sizing: border-box;
        }

        body {
            padding: 0;
            margin: 0;
            width: 280mm;
        }

        @@media screen {
            html {
                width: 290mm;
                margin-left: 5mm;
                background-color: lightgray;
            }

            body {
                width: 290mm;
            }

            .page {
                padding: 5mm;
                margin-top: 5mm;
                margin-bottom: 5mm;
                background-color: white;
            }

            table {
                margin-bottom: 5ex;
            }
        }

        .alert-info {
            background-color: yellow;
            font-size: 1.5rem;
            text-align: center;
            padding: 1ex;
            margin-bottom: 2rem;
        }
        
        h1 {
            white-space: pre;
            text-align: center;
            font-size: 1.3rem;
            margin-top: 0;
        }

        .page {
            page-break-after: always
        }

        .page:last-child
        {
            page-break-after: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tbody tr {
            height: 2.7rem;
        }

        td, th {
            border: thin solid #a0a0A0;
            padding: 0 0.5ex;
        }

        th {
            font-size: 0.8rem;
        }

        td.used {
            text-align: center;
            content: 'X';
            font-size: 1.4rem;
        }


        tfoot td {
            border-style: none;
            text-align: left;
        }

        .last {
            padding-left: 3ex;
            padding-right: 3ex;
            box-sizing: border-box;
        }

        .signature {
            float: left;
            text-align: left;
            width: 50%;
            padding-left: 3ex;
            padding-right: 3ex;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="noprint alert-info">
        При печати задайте альбомную (landscape) ориентацию страницы, после этого всё должно отлично уместиться на лист. <br />Данная надпись магическим образом исчезнет.
    </div>
    @foreach (var pair in Model)
    {
        var payroll = pair.First(); // получается сразу лучше ;
        var minDate = pair.Min(x => x.TournamentJobInfo.StartDate);
        var maxDate = pair.Max(x => x.TournamentJobInfo.EndDate);
        var daysCount = (int)maxDate.Subtract(minDate).TotalDays + 1;
        var stepBack = (20 - daysCount) / 2;
        minDate = minDate.AddDays(-stepBack);
        maxDate = minDate.AddDays(20);

        var title = payroll.Payroll.Title.Replace("ВЕДОМОСТЬ", "ТАБЕЛЬ").Replace("на оплату питания", "работы");

        <div class="page">
        <h1>@title</h1>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Фамилия, Имя, Отч.</th>
                    <th>Должность</th>
                    @for (var dt = minDate; dt <= maxDate; dt = dt.AddDays(1))
                    {
                        <th>@dt.ToString("dd.MM")</th>
                    }
                    <th>Кол-во дней</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                    var total = 0M;
                    foreach (var item in pair)
                    {
                        count++;
                        total += item.TournamentJobInfo.PayTotal;
                        <tr>
                            <td>@count</td>
                            <td>@item.Person.FamilyName @item.Person.FirstName @item.Person.MiddleName</td>
                            <td>@item.TournamentJobInfo.JobTitle.NamePublic</td>
                            @for (var dt = minDate; dt <= maxDate; dt = dt.AddDays(1))
                            {
                                if (dt >= item.TournamentJobInfo.StartDate && dt <= item.TournamentJobInfo.EndDate)
                                {
                                    <td class="used">X</td>
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                }
                            }
                            <td class="used">@item.TournamentJobInfo.DaysCount</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="15">
                        @if (signatures != null)
                        {
                            foreach (var item in signatures)
                            {
                                <div class="signature">
                                    <span style="float:right">@("(" + item.Person.FamilyName + " " + item.Person.FirstName.Substring(0, 1) + ". " + item.Person.MiddleName.Substring(0, 1) + ".)")</span>
                                    @item.TournamentJobInfo.JobTitle.Name <br />
                                </div>
                            }
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
        </div>
    }
</body>
</html>
