﻿@model PayrollContentViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@{
    ViewBag.Title = PayrollContentsController.Title;
    ViewBag.Subtitle = "Изменение";

    var payrolls = (List<Payroll>)ViewBag.Payrolls;
    var tournamentJobInfos = (List<TournamentJobInfo>)ViewBag.TournamentJobInfos;

    var search = string.Empty;

    using (var form = Bootstrap.BeginForm(FormType.Horizontal))
    {
        @Html.AntiForgeryToken()

        @Bootstrap.ValidationSummary();

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TournamentId)

        @Bootstrap.FormGroupFor(x => x.PayrollId).Label("Ведомость").Control(Bootstrap.Select(payrolls, x => x.Id, x => x.Name))

        @Bootstrap.FormGroupFor(x => x.TournamentJobInfoId).Label("Должность").Control(Bootstrap.Select(tournamentJobInfos, x => x.Id, x => x.JobTitle.Name))

        @Bootstrap.FormGroupFor(x => search).Label("Поиск").Muted().Control(Bootstrap.Input().Muted())

        @Html.HiddenFor(x => x.PersonId)

        using (Bootstrap.FormGroup("ФИО").Required().WithSizedControls().BeginContent())
        {
            @Bootstrap.ControlFor(x => x.FamilyName).Content(Bootstrap.Input().Size(4).Placeholder("фамилия"))
            @Bootstrap.ControlFor(x => x.FirstName).Content(Bootstrap.Input().Size(4).Placeholder("имя"))
            @Bootstrap.ControlFor(x => x.MiddleName).Content(Bootstrap.Input().Size(4).Placeholder("отчество"))
        }

        using (Bootstrap.FormGroup("Дата рождения").WithSizedControls().BeginContent())
        {
            @Bootstrap.ControlFor(x => x.BirthDay).Content(Bootstrap.InputInt(1, 31).Size(2).Placeholder("день"))
            @Bootstrap.ControlFor(x => x.BirthMonth).Content(Bootstrap.InputInt(1, 12).Size(3).Placeholder("месяц"))
            @Bootstrap.ControlFor(x => x.BirthYear).Content(Bootstrap.InputInt(1900, 2999).Size(3).Placeholder("год"))
        }

        using (Bootstrap.FormGroup("Адрес").WithSizedControls().BeginContent())
        {
            @Bootstrap.ControlFor(x => x.Address).Content(Bootstrap.Input().Size(0, 8, 8, 9, 9).Placeholder("адрес"))
            @Bootstrap.ControlFor(x => x.AddressIndex).Content(Bootstrap.Input().Size(0, 4, 4, 3, 3).Placeholder("индекс"))
        }

        using (Bootstrap.FormGroup("Документ").WithSizedControls().BeginContent())
        {
            @Bootstrap.ControlFor(x => x.DocumentNum).Content(Bootstrap.Input().Size(4).Placeholder("серия, номер"))
            @Bootstrap.ControlFor(x => x.DocumentDate).Content(Bootstrap.InputDate().Size(4).CssClass("datepicker").Placeholder("дата выдачи"))
        }

        @Bootstrap.FormGroupFor(x => x.DocumentIssuedBy).Label(" ").Control(Bootstrap.Input().Placeholder("кем выдан"))

        @Bootstrap.FormGroupFor(x => x.Phone).Label("Телефон").Control(Bootstrap.Input())

        using (Bootstrap.FormGroup("Коды").WithSizedControls().BeginContent())
        {
            @Bootstrap.ControlFor(x => x.PensionNumber).Content(Bootstrap.Input().Size(4).Placeholder("СНИЛС"))
            @Bootstrap.ControlFor(x => x.InsuranceNumber).Content(Bootstrap.Input().Size(4).Placeholder("Номер полиса ОМС"))
            @Bootstrap.ControlFor(x => x.TaxNumber).Content(Bootstrap.Input().Size(4).Placeholder("ИНН"))
        }

        using (Bootstrap.BeginFormGroup())
        {
            @Bootstrap.Button(Color8.PrimaryBlue, "Сохранить").Size(ControlSize.Large)
            @Bootstrap.Button(Color8.DarkGrey, "Отмена").Outline().Href(Url.Action(PayrollContentsController.IndexRoute(Model.TournamentId, Model.PayrollId)))
        }
    }
}

@section Head {
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">*@
    <link rel="stylesheet" href="/css/typeahead.css">
    <link href="https://cdn.jsdelivr.net/jquery.suggestions/16.6/css/suggestions.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
        .suggestions-wrapper {
            display: inherit;
        }
        /* HACK for issue #5 */
    </style>
}

@section Scripts {
    @*<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>*@
    <script src="/js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.suggestions/16.6/js/jquery.suggestions.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var token = $("input[name='__RequestVerificationToken']").val();

            Handlebars.registerHelper('date', function (day, month, year) {
                return new Date(year, month, day).toLocaleDateString("ru-RU");
            });
            Handlebars.registerHelper('date2', function (date) {
                return new Date(date).toLocaleDateString("ru-RU");
            });
            Handlebars.registerHelper('if-any', function (val) {
                return (val == null || val == "") ? "нет" : val;
            });

            var personSource = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "search",
                    prepare: function (query, settings) {
                        settings.url = "../search?query=" + encodeURIComponent(query);
                        settings.headers = { "RequestVerificationToken": token };
                        return settings;
                    }
                }
            });

            $("#search")
                .typeahead(null, {
                    name: 'persons',
                    display: 'label',
                    source: personSource,
                    limit: 11,
                    templates: {
                        suggestion: Handlebars.compile('<div {{#if value.replacedByPersonId}}class="text-muted"{{/if}}><b>{{value.familyName}} {{value.firstName}} {{value.middleName}}</b>, {{date value.birthDay value.birthMonth value.birthYear}}, <span class="text-muted">тел:</span> {{if-any value.phone}}, <span class="text-muted">ПСС:</span> {{if-any value.pensionNumber}} <br/>&nbsp; &nbsp; {{value.addressIndex}}, {{value.address}} <br/>&nbsp; &nbsp; {{value.documentNum}} <span class="text-muted">от</span> {{date2 value.documentDate}}, <span class="text-muted">выдан</span> {{value.documentIssuedBy}}</div>')
                    }
                })
                .bind('typeahead:select', function (ev, suggestion) {
                    var item = suggestion.value;
                    $("#PersonId").val(item.id);
                    $("#FamilyName").val(item.familyName);
                    $("#FirstName").val(item.firstName);
                    $("#MiddleName").val(item.middleName);
                    $("#BirthDay").val(item.birthDay);
                    $("#BirthMonth").val(item.birthMonth);
                    $("#BirthYear").val(item.birthYear);
                    $("#Address").val(item.address);
                    $("#AddressIndex").val(item.addressIndex);
                    $("#DocumentNum").val(item.documentNum);
                    $("#DocumentDate").val(new Date(item.documentDate).toLocaleDateString("ru-RU"));
                    $("#DocumentIssuedBy").val(item.documentIssuedBy);
                    $("#Phone").val(item.phone);
                    $("#PensionNumber").val(item.pensionNumber);
                    $("#InsuranceNumber").val(item.insuranceNumber);
                    $("#TaxNumber").val(item.taxNumber);
                })
                .focus();
            ;

            $("#Address").suggestions({
                serviceUrl: "https://suggestions.dadata.ru/suggestions/api/4_1/rs",
                token: "@configuration["DaData:ApiKey"]",
                type: "ADDRESS",
                count: 7,
                deferRequestBy: 250,
                minChars: 5,
                onSelect: function (suggestion) {
                    $("#AddressIndex").val(suggestion.data.postal_code);
                }
            });
        });
    </script>
}