﻿@model List<IGrouping<Payroll, PayrollContent>>
@{

    var tournament = (Tournament)ViewBag.Tournament;
    var payrolls = (List<Payroll>)ViewBag.Payrolls;

    ViewBag.Title = PayrollContentsController.Title;
    ViewBag.ContainerFluid = true;
    ViewBag.Subtitle = tournament.Name;
    ViewBag.SubtitleLink = Url.Action(TournamentsController.DetailsRoute(tournament.Id));

    using (var tbl = Bootstrap.Table(TableStyles.Hover | TableStyles.Striped | TableStyles.Small).Responsive(TableResponsive.md).BeginContent())
    {
        using (tbl.BeginHeader())
        {
            using (tbl.BeginRow())
            {
                @tbl.TH(TournamentJobInfosController.Title)
                @tbl.TH("ФИО")
                @tbl.TH("Д.р.")
                @tbl.TH("Адрес")
                @tbl.TH("Документ")
                @tbl.TH()
            }
        }
        using (tbl.BeginFooter())
        {
            using (tbl.BeginRow())
            {
                @tbl.TH("Отмеченные:")
                using (tbl.TH().ColSpan(2).BeginContent())
                {
                    var opts = payrolls.Select(x => Bootstrap.SelectOption(x.Id, "Переместить в " + x.Name)).ToArray();
                    @Bootstrap.Select(opts).Id("dest").CssClass("form-control-sm")
                }
                @tbl.TH(Bootstrap.Button(Color8.DarkGrey, "Выполнить").Outline().Id("runBtn").Size(ControlSize.Small))
                @tbl.TH()
                @tbl.TH().CssClass("text-right").Content(Bootstrap.Button(Color8.PrimaryBlue, IconFont.Add, "Добавить").Href(Url.Action(PayrollContentsController.CreateRoute(tournament.Id))).Outline().Size(ControlSize.Small))
            }
        }
        foreach (var group in Model)
        {
            using (tbl.BeginBody())
            {
                using (tbl.BeginRow())
                {
                    @tbl.TH().ColSpan(4).Content(Bootstrap.Checkbox(group.Key.Name))
                    @tbl.TH().ColSpan(2).CssClass("text-right").Content(Bootstrap.Button(Color8.PrimaryBlue, IconFont.Add, "Добавить в " + group.Key.Name).Href(Url.Action(PayrollContentsController.CreateRoute(tournament.Id, group.Key.Id))).Outline().Size(ControlSize.Small))

                }
                foreach (var item in group)
                {
                    using (tbl.BeginRow())
                    {
                        @tbl.TD(Bootstrap.Checkbox(item.TournamentJobInfo?.JobTitle?.Name).Value(item.Id).Attribute("name", "pcid"))
                        @tbl.TD(item.Person.FamilyName, " ", item.Person.FirstName, " ", item.Person.MiddleName)
                        @tbl.TD(item.Person.BirthDay?.ToString() ?? "_", ".", item.Person.BirthMonth?.ToString("00") ?? "__", ".", item.Person.BirthYear)
                        @tbl.TD(item.Person.AddressIndex, ", ", item.Person.Address).CssClass("small")
                        @tbl.TD(item.Person.DocumentNum, " от ", item.Person.DocumentDate?.ToString("d")).CssClass("small")

                        @tbl.TD(
                                      Bootstrap.ButtonGroup(ControlSize.Small)
                                          .AddButton(Bootstrap.Button(Color8.WarningOrange, IconFont.Edit, "Изм").Href(Url.Action(PayrollContentsController.EditRoute(item.Id))).Outline())
                                          .AddButton(Bootstrap.Button(Color8.DangerRed, IconFont.Remove, "Удал").Href(Url.Action(PayrollContentsController.DeleteRoute(item.Id))).Outline()))
                    }
                }
            }
        }
    }

    using (Bootstrap.Form().Id("runCommandForm").Attribute("action", "payrollcontents/runcommand").BeginContent())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ids")
        @Html.Hidden("dest")
    }
}

@section Scripts {
    <script type="text/javascript">
        $(function ()
        {
            $("th").find('input[type=checkbox]').click(groupCheckboxClick);
            $("#runBtn").click(runCommand);
        });

        function groupCheckboxClick()
        {
            var val = $(this)[0].checked;
            $(this).parents("tbody").eq(0).find('td').find('input[type=checkbox]').attr('checked', val);
        }

        function runCommand()
        {
            var ids = [];
            $('input[name=pcid]:checked').each(function () { ids.push($(this).val()) });
            var form = $("#runCommandForm");
            console.log(dest, ids.join(","));
            form.find("input[name=dest]").val($("#dest").val());
            form.find("input[name=ids]").val(ids.join(","));
            form.submit();
        }
    </script>
}