﻿<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha256-NJWeQ+bs82iAeoT5Ktmqbi3NXwxcHlfaVejzJI2dklU=" crossorigin="anonymous" />
    <link href="/fonts.min.css" rel="stylesheet">
    <link href="/css/jquery.datetimepicker-2.5.4.min.css" rel="stylesheet">

    <style type="text/css">
        .required:after {
            color: red;
            content: ' *';
        }

        .pre {
            white-space: pre-line;
        }

        dl.inverted dt {
            font-weight: normal;
        }

        dl.inverted dd {
            font-weight: bold;
        }
    </style>

    @RenderSection("Head", false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-full navbar-dark bg-success">
        <a class="navbar-brand" href="@Url.Action(HomeController.IndexRoute())">Ведомости</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            @await Html.PartialAsync("_TopMenu")
        </div>
    </nav>

    <div class="@((ViewBag.ContainerFluid ?? false) ?  "container-fluid" : "container")">
        <h1>
            @ViewBag.Title
            @if (ViewBag.Subtitle != null)
            {
                if (ViewBag.SubtitleLink == null)
                {
                    <small class="text-muted">@ViewBag.Subtitle</small>
                }
                else
                {
                    <small class="text-muted"><a href="@ViewBag.SubtitleLink">@ViewBag.Subtitle</a></small>
                }
            }
        </h1>
        @RenderBody()
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js" integrity="sha256-FCiJD1Xk+2itXYf5YdFQrPURijNogcXySEApUqeRwHc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha256-C8oQVJ33cKtnkARnmeWp6SDChkU+u7KvsNMFUzkkUzk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/matreshka/1.9.1/matreshka.js" integrity="sha256-047SypA6x/DgUuffqhaCsuBmC/xfwshIdPQcfFkw+jA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" integrity="sha256-rMOSOM5HDzVEMoVZTv2189+RKSTSgY5ZKfTfap7q2zE=" crossorigin="anonymous"></script>
    <script src="/js/jquery.datetimepicker-2.5.4.full.min.js"></script>
    <script type="text/javascript">
        $(function ()
        {
            $.datetimepicker.setLocale('ru');
            $('.datepicker').datetimepicker({
                timepicker: false,
                dayOfWeekStart: 1,
                format: 'd.m.Y'
            });
        });
        MK.binders.moneyBinder = function ()
        {
            return {
                on: 'keyup',
                getValue: function () { return parseFloat(this.value.replace(" ", "").replace(",", ".")); },
                setValue: function (v) { this.value = v.toLocaleString(NaN, { useGrouping: false, minimumFractionDigits: 2 }); },
            };
        };
    </script>
    @RenderSection("Scripts", false)
</body>
</html>