﻿@{
    var defaultWarning = "Просто печатайте данную страницу (правда не забудьте проверить ориентацию страницы, чтобы была портретная/portrait).";
}
<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css" media="all">
        @@page {
            size: A4 portrait;
            margin: 8mm 5mm;
        }

        @@media print {
            .noprint {
                display: none;
            }
        }

        html {
            margin: 0;
            padding: 0;
            width: 210mm;
            font-family: Arial, sans-serif;
            font-size: 9pt;
            box-sizing: border-box;
        }

        body {
            padding: 0;
            margin: 0;
            width: 190mm;
        }

        @@media screen {
            html {
                width: 210mm;
                margin-left: 5mm;
                background-color: lightgray;
            }

            body {
                width: 210mm;
            }

            .page {
                padding: 5mm;
                margin-top: 5mm;
                margin-bottom: 5mm;
                background-color: white;
            }

            table {
                margin-bottom: 5ex;
            }
        }

        .alert-info {
            background-color: yellow;
            font-size: 1.5rem;
            text-align: center;
            padding: 1ex;
            margin-bottom: 2rem;
        }

        .pre {
            white-space: pre;
        }

        .page {
            padding-left: 10mm;
            page-break-after: always;
            max-height: 280mm;
        }

        .page:last-child
        {
            page-break-after: auto;
        }

        h1 {
            text-align: center;
            font-size: 1.3rem;
            margin-top: 0;
        }

        h2 {
            text-align: center;
            font-size: 1.2rem;
            margin-top: 1ex;
            margin-bottom: 0;
        }

        .own-line {
            display: block;
            font-weight: bold;
            text-align: center;
            font-size: 1.2rem;
            margin: 0.4ex;
        }

        p {
            margin: 0.5ex 0;
            text-align: justify;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 0 1ex;
        }

        td p {
            text-align: left;
        }

        td + td {
            border-left-style: solid;
            border-width: thin;
            border-color: gray;
        }
    </style>
    @RenderSection("Head", false)
</head>
<body>
    <div class="noprint alert-info">
        @(ViewBag.Warning ?? defaultWarning) <br/>Данная надпись магическим образом исчезнет.
    </div>
    @RenderBody()
</body>
</html>
