﻿@model UserAccess
@{
    ViewBag.Title = UserAccessController.Title;
    ViewBag.Subtitle = "Редактирование";

    var list1 = (List<Company>)ViewBag.Companies;
    var values1 = list1.Select(x => Bootstrap.SelectOption(x.Id, x.Name)).ToList();
    values1.Insert(0, Bootstrap.SelectOption(string.Empty, string.Empty));

    var list2 = (List<Tournament>)ViewBag.Tournaments;
    var values2 = list2.Select(x => Bootstrap.SelectOption(x.Id, x.StartDate.ToString("d") + " - " + x.Name)).ToList();
    values2.Insert(0, Bootstrap.SelectOption(string.Empty, string.Empty));

    var list3 = (List<User>)ViewBag.Users;
    var values3 = list3.Select(x => Bootstrap.SelectOption(x.UserId, x.Name)).ToList();

    using (Bootstrap.BeginForm(FormType.Horizontal))
    {
        @Html.AntiForgeryToken()

        @Bootstrap.ValidationSummary();

        @Html.HiddenFor(x => x.Id)

        @Bootstrap.FormGroupFor(x => x.UserId).Label("Пользователь").Control(Bootstrap.Select(values3))

        @Bootstrap.FormGroupFor(x => x.CompanyId).Label("Организация").Control(Bootstrap.Select(values1))

        @Bootstrap.FormGroupFor(x => x.TournamentId).Label("Соревнования").Control(Bootstrap.Select(values2))

        using (Bootstrap.BeginFormGroup())
        {
            @Bootstrap.Button(Color8.PrimaryBlue, "Сохранить").Size(ControlSize.Large)
            @Bootstrap.Button(Color8.SecondaryGrey, "Отмена").Outline().Href(Url.Action(UserAccessController.IndexRoute()))
        }
    }
}